{% include 'admin_header.html' %}
<center>
	<form method="post">
		<h1>ASSIGN STAFF AND SUBJECT</h1>
		<h3>( DEPARTMENT  :  {{data['class'][0]['department']}} )</h3>
		<h3>( CLASS  :  {{data['class'][0]['class']}} )</h3>
		
		<table  class="table" style="width: 600px">
			<tr>
				<th>SUBJECT</th>
				<td><select name="sub" style="color: black">
					{% for row in data['sub']%}
					<option value="{{row['subject_id']}}">{{row['subject_name']}}</option>
					{% endfor %}
				</select></td>
			</tr>
			<tr>
				<th>STAFF</th>
				<td><select name="staff" style="color: black">
					{% for row in data['staff']%}
					<option value="{{row['staff_id']}}">{{row['first_name']}} , {{row['last_name']}}</option>
					{% endfor %}
				</select></td>
			</tr>
			<tr>
				<td colspan="2" align="center"><input type="submit" name="submit" value="ASSIGN" class="btn btn-success"></td>
			</tr>
		</table>
		{% if data['assign']%}
		<h1>ASSIGNED STAFFS</h1>
		<table class="table" style="width: 600px">
			<tr>
				<th>SNO</th>
				<th>SUBJECT</th>
				<th>STAFF</th>
			</tr>
			{% for row in data['assign']%}
			<tr>
				<td>{{loop.index}}</td>
				<td>{{row['subject_name']}}</td>
				<td>{{row['first_name']}} {{row['last_name']}}</td>
			</tr>
			{% endfor %}
		</table>
		{% endif %}
	</form>
</center>
{% include 'footer.html' %}